body{
    display: flex;
    justify-content: center;
    background: radial-gradient(circle, rgba(5,4,15,1) 0%, rgba(0,11,97,1) 100%);    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

p{
    color: white;
}

h2 {
    font-size: 60px;
    color: white;
    position: absolute;
}

.kalkulator {
    margin-top: 15%;
}

.kalkulator input[type="number"]{ 
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 100px;
    border: 4px solid rgb(3, 237, 245);
    outline: none;
    background: none;
    display: block;
    margin: 5% auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 400px;
    transition: 3s;
}

.kalkulator input[type="number"]:focus, 
.kalkulator input[type="number"]:focus-visible {
    width: 550px;
    border-color: rgb(0, 255, 34);
}

.kalkulator .inputNumber input[type="button"] {
    margin-left: 50%;
}

.kalkulator input[type="button"] {
    font-size: 50px;
    position: relative; 
    text-align: center;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 60px;
    text-align: center;
    margin: 10px;
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b);
    background-size: 400%;
    border-radius: 40px;
    border-width: 1px;
    border-color: #00aeff;
    z-index: 1;
}

.kalkulator input[type="button"]:hover {
    animation: animate 8s linear infinite;
    color: rgb(255, 255, 255);
    height: 57px;
    transition: 0.5s;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 300%;
    }
}

.kalkulator input[type="button"]:before {
    content: '';
    position: relative;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b);
    background-size: 400%;
    border-radius: 40px;
    opacity: 10px;
    transition: 0.5s;
}

.kalkulator input[type="button"]:hover:before {
    filter: blur(50px);
    opacity: 1;
    animation: animate 8s linear infinite;
}
